.content{
    display: inline;
    margin:3px;
    font-size: 18px;
}
.item{
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    margin: 10px;
}

#icon{
    max-width: 15px !important;
}